<div class="index-container">
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm img-beer"></div>
        <div class="col-sm"></div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm"> <button type="button" class="btn btn-primary">Check The Beers! </button></div>
        <div class="col-sm"></div>
    </div>
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm"> <button type="button" class="btn btn-primary">Check a Random Beer! </button></div>
        <div class="col-sm"></div>
    </div>
</div>