<div class="index-container">
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm img-beer1"></div>
        <div class="col-sm"></div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm">
            <form method="get" action="/beers">
                <button type="submit" class="btn btn-primary">Check The Beers!</button>
            </form>
        </div>
        <div class="col-sm">
        </div>
    </div>
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm">
            <form method="get" action="/random-beers">
                <button type="submit" class="btn btn-primary">Check a Random Beer!</button>
            </form>
        </div>
        <div class="col-sm"></div>
    </div>
</div>