<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" int$
        crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/styles.css">

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0 ">
                    <li class="nav-item">
                        <a class="nav-link " href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="beers">Beers <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="random-beers'">Random Beer</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    {{{ body }}}

    <footer class="footer">
       <div class="footer-text">Develop by Irohack :)</div>
        
    </footer>
</body>

</html>